.join {
    // display: inline-block;
    // display: block;
    // width: 206px;
    // height: 80px;
    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 94px;
    }
}

.join__text {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $white-color;

}

.social__link--color {
    background-color: $footer-social-bgc;
    fill: $white-color;

    &:hover,
    &:focus {
        background-color: $accent-color;
        }
}

