.join__form {
    @media screen and (min-width: 1200px) {
        display: inline-flex;
        
    }
    
}

.join__input {
    display: block;
    width: 450px;
    height: 50px;
    padding-left: 16px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.25;
    color: $footer-text-color;
    background-color: $hero-bgc;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (max-width:1199px) {
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (min-width:1200px) {
            width: 358px;
            margin-bottom: 0;
            margin-right: 12px;
        
        }
}

.join__button {
    display: flex;
    width: 200px;
    height: 50px;
    padding-left: 28px;
    align-items: center;

    @media screen and (max-width:1199px){
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 1200px) {
        align-self: flex-end;
        // margin-left: 12px;
    }
}

.join__icon {
    margin-left: 10px;
}