.page-header {
        display: flex;
        align-items: center;
        // width: 100%;
        border-bottom: 1px solid #ECECEC;
    }
@media screen and (max-width: 767px) {
    .page-header__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 767px) {
    .page-header__list,
    .list.contact {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .menu-container {
        display: none;
    }
}

.page-header__container,
.page-header__list,
.page-header__nav {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.page-header__item {
    margin-left: 50px;
}
.page-header__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: inherit;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
}
.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(25%);
    height: 4px;
    width: 100%;

    background-color: $accent-color;
    border-radius: 2px;
}

.current-item {
    position: relative;
}

