.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    @media screen and (max-width: 767px){
        width: 80%;
    }
    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 50px;
    }
    
}

.portfolio__item {
    margin-right: 8px;
    @media screen and (max-width: 1199px) {
       margin-bottom: 15px; 
    }
}

.portfolio__button {
    padding: 6px 22px;
    font-family: inherit;
    color: inherit;
    background-color: $secondary-bgc;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms $cubic, background-color 250ms$cubic, border-radius 250ms $cubic, color 250ms $cubic;

    &:hover,
    &:focus {
        color: $white-color;
        background-color: $accent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        }
}

