.work {
    display: none;

    @media screen and (min-width: 1200px) {
        display:block;
        padding-top: 0;
    }
}
.work__list {
        display: flex;
        gap: 30px;
    }

.work__item {
    display: block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.work__image {
    position: relative;
}

.work__meta {
    position: absolute;
    bottom: 0;

    width: 370px;
    padding-top: 27px;
    padding-left: 107px;
    padding-bottom: 27px;
    padding-right: 107px;

    background-color: $work-meta-bgc;
}

.work__description {
    line-height: 1.14;
    font-size: inherit;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
}

.work__meta--padding {
    padding-left: 95px;
    padding-right: 94px;
}