    $primary-text-color: #212121;
    $secondary-text-color: #757575;
    $accent-color: #2196F3;
    $white-color: #FFFFFF;
    $secondary-bgc: #F5F4FA;
    $hero-bgc: #2F303A;
    $logo-black: #000000;
    $modal-input-border: #21212133;
    $modal-feedback-color: rgba(117, 117, 117, 0.5);
    $work-meta-bgc: rgba(47, 48, 58, 0.8);
    $icon-color: #afb1b8;
    $clients-border: #AFB1B8;
    $footer-text-color: rgba(255, 255, 255, 0.6);
    $footer-social-bgc: rgba(255, 255, 255, 0.1);
    $portfolio-border: #EEEEEE;
    $overlay-bgc:  rgba(33, 150, 243, 0.9);


    $primary-text-font: 'Roboto',sans-serif;
    $primary-font-size: 14px;
    
    $cubic: cubic-bezier(0.4, 0, 0.2, 1);

